@import '../commonSass/common-v2-0-0.scss';
#orderManageList {
    height: 100%;
    width: 100%;
    overflow: hidden;
    @include commonInit();
    @include management();
}

#orderManagePart {
    height: 100%;
    @include commonInit();
    @include managementB();
}

#orderManageACBack {
    @include back();
}

#orderManageAC {
    @include commonInit();
    @include managementC();
}