/*define style config*/

//input
$bg-input:#fff;
$input-border-style:solid 1px rgb(226, 226, 226);
$bg-input-disabled:rgb(224, 224, 224);
//button
$bg-btn-ok:rgb(46, 162, 215);
$bg-btn-cancel:rgb(93, 161, 192);
$border-btn:1px solid rgb(89, 127, 137);
//bg of dialog header
$bg-dialog-header:rgb(46, 162, 215);
$back-zindex:100;
//style set of body
$font-body-size:18px;
@mixin font-body($fontSize:16px, $fontfamily: "Microsoft YaHei", $fontweight: bold) {
    font-size: $fontSize;
    font-family: $fontfamily;
    font-weight: $fontweight;
}

@mixin font-btn($fontSize:16px) {
    font-size: $fontSize;
    font-family: "Microsoft YaHei";
    font-weight: bold;
}

@mixin translate($x, $y) {
    transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -webkit-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
}

@mixin translateY($y) {
    transform: translateY($y);
    -moz-transform: translateY($y);
    -webkit-transform: translateY($y);
    -ms-transform: translateY($y);
}

@mixin abs-center-y {
    top: 50%;
    @include translate(0, -50%);
}

@mixin abs-center-x {
    left: 50%;
    @include translate(-50%, 0);
}

@mixin pointer-btn {
    cursor: pointer;
}

@mixin input-common-style($width, $padding:0 10px) {
    width: $width;
    padding: $padding;
    border: $input-border-style;
    background-color: $bg-input;
}

@mixin div-like-input {
    border: $input-border-style;
    background-color: $bg-input;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 10px;
}

@mixin search($height:60px, $height-input:40px) {
    position: relative;
    height: $height;
    width: 284px;
    display: inline-block;
    margin-left: 20px;
    &>input {
        @include search-input($height-input);
    }
    &>div {
        @include search-icon-btn();
    }
}

@mixin search-input($height:40px) {
    position: absolute;
    left: 0;
    z-index: 0;
    height: $height;
    @include abs-center-y();
    @include input-common-style(284px);
}

@mixin search-icon-btn($url:"../images/wordsearch.png") {
    width: 20px;
    height: 20px;
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 12px;
    z-index: 1;
    @include abs-center-y();
    @include pointer-btn();
}

@mixin btn-common($height) {
    display: block;
    border: $border-btn;
    border-radius: 2px;
    color: #fff;
    @include pointer-btn();
    height: $height;
    line-height: $height;
}

@mixin button-with-icon($url) {
    @include btn-common(40px);
    background-color: rgb(46, 162, 215);
    @include font-btn();
    &:before {
        content: url($url);
        margin-right: 10px;
    }
}


/*
<div class="header">
    <div class="title"><span>title</span></div>
    <div class="search">
        <input />
        <div></div>
    </div>
    <div class="button">新增</div>
</div>
*/

@mixin header-type-1($height:60px, $url:"../images/platformAddBtn.png") {
    height: $height;
    padding: 0 20px;
    &>.headtitle {
        display: block;
        height: $height;
        float: left;
        line-height: $height;
        &>span {
            border-left: solid 3px rgb(44, 167, 222);
            padding-left: 10px;
            @include font-btn();
            color: rgb(73, 75, 88);
            text-shadow: 0px -1px 0px rgba(1, 1, 1, 0.75);
        }
    }
    &>.search {
        @include search($height);
    }
    &>.button {
        float: right;
        min-width: 128px;
        height: 40px;
        margin-top: ($height - 40px)/2;
        text-align: center;
        @include button-with-icon($url);
        text-shadow: 0px -1px 0px rgba(1, 1, 1, 0.75);
    }
}

@mixin management($height-header:60px, $height-body:calc(100% - 60px)) {
    &>.header {
        @include header-type-1($height-header);
        &>.split {
            float: left;
            width: 2px;
            height: 36px;
            margin-left: 13px;
            background-color: rgb(181, 183, 198);
            margin-top: 12px;
        }
        &>.buttonList {
            float: left;
            &>div {
                border-style: solid;
                border-width: 1px;
                border-color: #fff;
                border-radius: 2px;
                display: inline-block;
                height: $height-header - 20px;
                line-height: $height-header - 20px;
                margin-top: 10px;
                margin-bottom: 10px;
                border: 1px solid #fff;
                font-weight: bold;
                font-family: "Microsoft YaHei";
                font-size: 16px;
                min-width: 110px;
                text-align: center;
                cursor: pointer;
                &:first-child {
                    margin-left: 16px;
                    border-left: 1px solid black;
                }
                &.checked {
                    border-color: rgb(131, 224, 255);
                    color: rgb(255, 255, 255);
                    background-color: #aae7fb;
                }
                &.unchecked {
                    border-color: rgb(209, 209, 209);
                    color: rgb(121, 121, 121);
                    background-color: #fff;
                }
            }
        }
    }
    &>.body {
        height: $height-body;
        @include body();
        &>div {
            height: 100%;
        }
    }
}

@mixin flex-y-center() {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
}

@mixin managementB($height-header:60px, $height-body:calc(100% - 102px)) {
    border-top-left-radius: 3px;
    &>.header {
        height: $height-header;
        background-color: #fff;
        padding: 0px 15px;
        &>div {
            float: left;
        }
        &>.backBtn {
            font-size: 16px;
            font-weight: bold;
            background-color: $bg-btn-ok;
            margin-top: ($height-header - 40px)/2;
            @include btn-common(40px);
            min-width: 110px;
            &>img {
                float: left;
                margin-top: 8px;
                margin-right: 16px;
            }
            padding: 0 20px;
        }
        &>.split {
            float: left;
            width: 2px;
            height: 34px;
            margin-left: 10px;
            margin-right: 15px;
            background-color: rgb(181, 183, 198);
            margin-top: ($height-header - 34px)/2;
        }
        &>.orderManagePartTitle {
            height: 40px;
            line-height: 40px;
            margin-top: ($height-header - 40px)/2;
            font-size: 16px;
            color: rgb(121, 121, 121);
            font-weight: bold;
        }
    }
    &>.body {
        height: $height-body;
        background-color: #fcfcf2;
        border: 1px solid #ededdb;
        padding-left: 20px;
        padding-top: 8px;
        &>.listStudent {
            float: left;
            height: 100%;
            width: 300px;
            border: 1px solid #e2e2e2;
            font-size: 14px;
            font-family: "SimSun";
            &>.header {
                &>.col {
                    height: 35px;
                    background-color: #45d1f4;
                    color: #fff;
                    &>div {
                        float: left;
                        height: 35px;
                        line-height: 35px;
                        text-align: center;
                    }
                    &>.num {
                        width: 37px;
                    }
                    &>.check {
                        width: 47px;
                        border-left: 1px solid #e2e2e2;
                        &>input {
                            margin-top: 10px;
                        }
                    }
                    &>.stuname {
                        width: 87px;
                        border-left: 1px solid #e2e2e2;
                    }
                    &>.stuid {
                        width: 126px;
                        border-left: 1px solid #e2e2e2;
                    }
                }
            }
            &>.body {
                height:calc(100% -35px);
                overflow-y: hidden;
                .mCSB_dragger_bar {
                    background-color: #5391a6;
                }
                .mCSB_draggerRail {
                    background-color: #e6eff2;
                    box-shadow: none;
                }
                .col {
                    height: 35px;
                    color: rgb(121, 121, 121);
                    border-bottom: 1px solid #e2e2e2;
                    &>div {
                        float: left;
                        height: 35px;
                        line-height: 35px;
                        text-align: center;
                    }
                    &:nth-child(odd) {
                        background-color: #fff;
                    }
                    &:nth-child(even) {
                        background-color: #f5fdff;
                    }
                    &>.num {
                        width: 37px;
                    }
                    &>.check {
                        width: 47px;
                        border-left: 1px solid #e2e2e2;
                        &>input {
                            margin-top: 10px;
                        }
                    }
                    &>.stuname {
                        width: 87px;
                        border-left: 1px solid #e2e2e2;
                    }
                    &>.stuid {
                        width: 113px;
                        border-left: 1px solid #e2e2e2;
                    }
                }
            }
        }
        &>.buttonList-y {
            float: left;
            width: 143px;
            height: 100%;
            padding: 0 20px;
            @include flex-y-center();
            &>div.btn {
                cursor: pointer;
                background-color: #45d1f4;
                width: 102px;
                height: 66px;
                border-style: solid;
                border-width: 1px;
                border-color: rgb(93, 161, 192);
                background-color: rgb(69, 209, 244);
                color: #fff;
                padding-left: 8px;
                border-radius: 8px;
                margin-top: 60px;
                &:first-child {
                    margin-top: 0;
                }
                &>span {
                    height: 64px;
                    float: right;
                    font-size: 18px;
                    word-wrap: break-word;
                    width: 52px;
                    padding: 8px;
                    padding-left: 0px;
                }
                &.order-stu-resave {
                    &:before {
                        content: "+";
                        font-size: 58px;
                    }
                }
                &.order-stu-save {
                    &.nocheck {
                        &>img {
                            margin-top: 19px;
                            margin-left: 5px;
                        }
                    }
                    &.oncheck {
                        &:before {
                            content: "\2713";
                            font-size: 40px;
                        }
                    }
                }
            }
            &>div.tip {
                font-size: 12px;
                font-family: "Adobe Heiti Std";
                color: rgb(173, 173, 173);
            }
        }
        &>.orderList {
            float: left;
            width: calc(100% - 443px);
            height: 100%;
            border: 1px solid #e2e2e2;
            background-color: #fff;
            position: relative;
            &>.header {
                height: 35px;
                background-color: #45d1f4;
                color: #fff;
                font-family: "SimSun";
                font-size: 14px;
                font-weight: bold;
                &>.list-title {
                    float: left;
                    height: 35px;
                    line-height: 35px;
                    padding: 0 10px;
                }
                &>.btn-add {
                    float: right;
                    margin: 3px 10px;
                    border: 1px solid #fff;
                    cursor: pointer;
                    background-color: #24bce2;
                    height: 29px;
                    line-height: 29px;
                    padding: 0 10px;
                }
            }
            &>.body {
                padding: 5px 10px;
                overflow-y: auto;
                position: absolute;
                top: 0px;
                left: 0;
                right: 0;
                bottom: 0;
                margin-top: 40px;
                &>.items {
                    position: relative;
                    height: 183px;
                    border: 1px solid rgb(229, 229, 229);
                    background-color: rgb(255, 255, 255);
                    border-radius: 10px;
                    font-size: 14px;
                    font-family: "SimSun";
                    font-weight: bold;
                    margin-top: 20px;
                    &:first-child {
                        margin-top: 10px;
                    }
                    &.checked {
                        border: 1px solid rgb(94, 206, 235);
                        background-color: rgb(200, 244, 255);
                        &>.body {
                            &>.detailsCont {
                                border-left-color: #45d1f4;
                                
                            }
                        }
                    }
                    &.disabled {
                        &>.header {
                            background-color: #dadada;
                            &>.btn-add {
                                background-color: #cfcfcf;
                            }
                        }
                        &>.body {
                            background-color: #f5f5f5;
                            &>.detailsCont .item {
                                background-color: #fcfcfc;
                                border-color: rgb(217, 217, 217);
                                color: rgb(201, 201, 201);
                                &>.ites-1>div {
                                    border: 1px solid #e5e5e5;
                                    background-color: #fff;
                                }
                                &>.ites-2 {
                                    border-left-color: #d9d9d9;
                                }
                                &.choosed {
                                    color: #fff;
                                    background-color: #d9d9d9;
                                    border-color: rgb(217, 217, 217);
                                    &>.ites-1>div {
                                        background-color: #d9d9d9;
                                        border: 2px solid #fff;
                                    }
                                    &>.ites-2 {
                                        border-left-color: #fff;
                                    }
                                }
                            }
                        }
                    }
                    &>.header {
                        height: 41px;
                        background-color: rgb(69, 209, 244);
                        color: #fff;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        &>.list-title {
                            float: left;
                            line-height: 41px;
                            padding: 0 10px;
                        }
                        &>.btn-add {
                            float: right;
                            margin: 5px 10px;
                            border: 1px solid #fff;
                            cursor: pointer;
                            background-color: #24bce2;
                            border-radius: 7px;
                            height: 29px;
                            line-height: 29px;
                            padding: 0 10px;
                            min-width: 73px;
                            text-align: center;
                        }
                    }
                    &>.body {
                        position: absolute;
                        top: 41px;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        & .checkCont {
                            float: left;
                            height: 100%;
                            width: 43px;
                            position: relative;
                            &>.check {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                @include translate(-50%, -50%);
                                height: 17px;
                                width: 17px;
                                border-radius: 50%;
                                border: 1px solid rgb(198, 198, 198);
                                background-color: #fff;
                                padding: 2px;
                                &>.checked {
                                    height: 100%;
                                    width: 100%;
                                    border-radius: 50%;
                                    &.true {
                                        background-color: #45d1f4;
                                    }
                                    cursor: pointer;
                                }
                            }
                        }
                        & .detailsCont {
                            border-left: 1px solid #e5e5e5;
                            position: absolute;
                            top: 0;
                            left: 45px;
                            right: 0;
                            bottom: 0;
                            padding: 5px;
                            padding-top: 10px;
                            & .item {
                                float: left;
                                width: 146px;
                                height: 54px;
                                border-style: solid;
                                border-width: 1px;
                                border-color: rgb(186, 233, 245);
                                box-shadow: 0px 3px 7px 0px rgba(72, 195, 211, 0.1);
                                border-radius: 8px 6px;
                                cursor: pointer;
                                color: rgb(9, 181, 224);
                                font-size: 14px;
                                -moz-transform: matrix( 1.00194453121316, 0, 0, 1, 0, 0);
                                -webkit-transform: matrix( 1.00194453121316, 0, 0, 1, 0, 0);
                                -ms-transform: matrix( 1.00194453121316, 0, 0, 1, 0, 0);
                                padding: 4px 0;
                                background-color: #f5fdff;
                                margin: 4px 10px;
                                &.choosed {
                                    border-color: rgb(69, 209, 244);
                                    background-color: rgb(69, 209, 244);
                                    color: #fff;
                                    &>.ites-1>div {
                                        border: 2px solid #fff;
                                        background-color: rgb(69, 209, 244);
                                    }
                                    &>.ites-2 {
                                        border-left-color: #fff;
                                    }
                                }
                                &>.ites-1 {
                                    width: 32px;
                                    height: 100%;
                                    position: relative;
                                    float: left;
                                    &>div {
                                        position: absolute;
                                        width: 14px;
                                        height: 14px;
                                        top: 50%;
                                        left: 50%;
                                        @include translate(-50%, -50%);
                                        border: 1px solid #e5e5e5;
                                    }
                                }
                                &>.ites-2 {
                                    float: right;
                                    width: calc(100% - 32px);
                                    border-left: 1px solid rgb(69, 209, 244);
                                    padding-left: 10px;
                                    &>.ites-col {
                                        height: 22px;
                                        line-height: 22px;
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &>.footer {
        height: 60px;
    }
}

@mixin managementC($height:295px, $width:495px, $header-height:40px, $height-footer:80px) {
    height: $height;
    width: $width;
    position: absolute;
    left: 40%;
    top: 40%;
    @include translate(-50%, -50%);
    z-index: $back-zindex + 1;
    border: 1px solid rgb(23, 123, 169);
    background-color: $bg-input;
    &>.header {
        @include header-type-2($header-height);
    }
    &>.body {
        height: $height - ($header-height + $height-footer);
        padding: 15px 10px 0px 10px;
        &>.col {
            height: 40px;
            width: 100%;
            font-family: "SimSun";
            font-size: 14px;
            color: rgb(121, 121, 121);
            margin: 10px 0px;
            &>label {
                min-width: 95px;
                text-align: center;
                display: block;
                float: left;
                line-height: 40px;
            }
            &>input {
                @include input-common-style(323px);
                height: 36px;
                margin-top: 2px;
            }
            &>select {
                height: 36px;
                margin-top: 2px;
                width: 216px;
                border: solid 1px #e2e2e2;
            }
            &>div {
                height: 36px;
                line-height: 36px;
            }
        }
    }
    &>.footer {
        @include footer-buttons($height-footer);
        font-size: 18px;
        font-family: "HiraginoSansGB";
    }
}

@mixin close-icon() {
    float: right;
    background-image: url(../images/lecture_list/close.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
    margin-top: 7px;
    margin-right: 7px;
    @include pointer-btn();
}

@mixin header-type-2($height:35px) {
    height: $height;
    line-height: $height;
    color: #fff;
    background-color: $bg-dialog-header;
    &>label {
        font-size: 18px;
        font-family: "HiraginoSansGB";
        text-shadow: 0px -1px 0px rgba(1, 1, 1, 0.75);
        padding: 0 10px 0 20px;
    }
    &>span {
        @include close-icon();
    }
}

@mixin back($zindex:100) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex;
    background-color: rgba(0, 0, 0, 0.298039);
}

@mixin footer-buttons($height:60px) {
    height: $height;
    padding-top: ($height - 42px)/2;
    padding-right: 10px;
    &>div {
        float: right;
        @include btn-common(42px);
        min-width: 153px;
        text-align: center;
        &:first-child {
            background-color: $bg-btn-ok;
        }
        &:last-child {
            background-color: $bg-btn-cancel;
            margin-right: 20px;
        }
    }
}


/*
<div class='date'>
    <div>
        <input />
        <div></div>
    </div>
    <div></div>
</div>
*/

@mixin date($width, $height, $url:"../images/product_date.png") {
    height: $height;
    width: $width;
    &>div:first-child {
        height: $height;
        width: $width + 16px;
        &>input {
            height: $height;
            width: $width;
            padding: 0 26px 0 10px;
        }
        &>div {
            background: url($url);
            width: 16px;
            height: 16px;
            @include translate(-24px, ($height - 16px)/2);
            cursor: pointer;
            float: right;
        }
    }
}


/*load body component*/

@mixin body {
    @include font-body(18px, "SimSun", normal);
    input {
        border: $input-border-style;
        background-color: $bg-input;
        @include font-body(12px, "SimSun", normal);
    }
    input:disabled {
        background-color: $bg-input-disabled;
    }
    .date {
        @include date(146px, 40px);
    }
}

@mixin dialog($height, $width, $header-height:35px, $height-footer:60px) {
    height: $height;
    width: $width;
    position: absolute;
    left: 50%;
    z-index: $back-zindex + 1;
    border: 1px solid rgb(23, 123, 169);
    background-color: $bg-input;
    &>.header {
        @include header-type-2($header-height);
    }
    &>.body {
        height: $height - ($header-height + $height-footer);
        padding: 15px 10px 0px 10px;
        @include body();
    }
    &>.footer {
        @include footer-buttons($height-footer);
    }
    &.show {
        top: 40%;
        @include translate(-50%, -50%);
        @include moveto(40%);
    }
    &.hide {
        top: 0;
        @include translate(-50%, -100%);
        @include remove();
    }
}

//helper
@mixin commonInit {
    @include user-select();
    @include borderBox();
}

@mixin user-select {
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}

@mixin borderBox {
    & * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation($actions) {
    animation: $actions;
    -webkit-animation: $actions;
    -moz-animation: $actions;
}

@mixin moveto($top) {
    @include animation(move 1s);
    @include keyframes(move) {
        from {
            top: 0;
            @include translate(-50%, -100%);
        }
        to {
            top: $top;
            @include translate(-50%, -50%);
        }
    }
}

@mixin remove() {
    @include animation(moveback 1s);
    @include keyframes(moveback) {
        from {
            top: 40%;
            @include translate(-50%, -50%);
        }
        to {
            top: 0;
            @include translate(-50%, -100%);
        }
    }
}